In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Merge_reviews_items.csv")
df2=pd.read_csv("Merge_games_items.csv")

Copia Reccomended

In [7]:
copia_df_subset = df[['posted', 'app_name', 'recommend']].copy()

In [10]:
copia_df_subset = copia_df_subset.dropna()

In [12]:
# Guardar la copia en un archivo CSV
copia_df_subset.to_csv("copia_df_subset.csv", index=False)

Copia sentiment Analysis

In [14]:
# Crear una copia del DataFrame original df con las columnas deseadas
copia2_df_subset = df[['sentiment_analysis', 'posted']].copy()

Copia Genres

In [22]:
copia3_df = df2.copy()

In [23]:
copia3_df

,genres,app_name,release_date,item_id,user_id,item_name,playtime_forever
0,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,1997,282010,UTNerd24,Carmageddon Max Pack,5
1,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,1997,282010,saint556,Carmageddon Max Pack,13
2,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,1997,282010,chidvd,Carmageddon Max Pack,110
3,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,1997,282010,aerpub,Carmageddon Max Pack,13
4,"['Action', 'Indie', 'Racing']",Carmageddon Max Pack,1997,282010,76561198038374904,Carmageddon Max Pack,8
...,...,...,...,...,...,...,...
2779672,['Action'],Counter-Strike: Condition Zero,2004,80,MRSDT,Counter-Strike: Condition Zero,203
2779673,['Action'],Counter-Strike: Condition Zero,2004,80,76561198135391641,Counter-Strike: Condition Zero,244
2779674,['Action'],Counter-Strike: Condition Zero,2004,80,76561198135407430,Counter-Strike: Condition Zero,7
2779675,['Action'],Counter-Strike: Condition Zero,2004,80,76561198141352940,Counter-Strike: Condition Zero,9
2779676,['Action'],Counter-Strike: Condition Zero,2004,80,76561198146796603,Counter-Strike: Condition Zero,99

In [24]:
copia3_df = copia3_df[["genres", "release_date", "playtime_forever","item_name"]]

In [ ]:
copia3_df['genres'] = copia3_df['genres'].apply(lambda x: x.strip("[]").replace("'", "").split(", "))

copia3_df = copia3_df.explode('genres')

In [29]:
copia3_df.drop(columns=['item_name'], inplace=True)

In [31]:
copia3_df.to_csv("PlayTimeGenre.csv", index=False)

In [7]:
copia4_df=df2.copy()

In [10]:
columnas_a_mantener = ['genres', 'user_id', 'playtime_forever', 'release_date']
copia4_df = copia4_df[columnas_a_mantener]

In [11]:
copia4_df

,genres,user_id,playtime_forever,release_date
0,"['Action', 'Indie', 'Racing']",UTNerd24,5,1997
1,"['Action', 'Indie', 'Racing']",saint556,13,1997
2,"['Action', 'Indie', 'Racing']",chidvd,110,1997
3,"['Action', 'Indie', 'Racing']",aerpub,13,1997
4,"['Action', 'Indie', 'Racing']",76561198038374904,8,1997
...,...,...,...,...
2779672,['Action'],MRSDT,203,2004
2779673,['Action'],76561198135391641,244,2004
2779674,['Action'],76561198135407430,7,2004
2779675,['Action'],76561198141352940,9,2004
2779676,['Action'],76561198146796603,99,2004

In [ ]:
copia4_df['genres'] = copia4_df['genres'].apply(lambda x: x.strip("[]").replace("'", "").split(", "))

copia4_df = copia4_df.explode('genres')

In [18]:
copia4_df.to_csv("UserForGenero.csv", index=False)